@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
    @apply w-1/4 h-1 bg-[#E6E3D6]/50 opacity-100 rounded-none !important;
    /* Length and thickness of the line */
}

.swiper-pagination-bullet-active {
    @apply bg-[#E6E3D6] !important;
    /* Different color for the active bullet */
}

  .hide-scrollbar {
      scrollbar-width: none;
      /* for Firefox */
      -ms-overflow-style: none;
      /* for Internet Explorer and Edge */
  }

  .hide-scrollbar::-webkit-scrollbar {
      display: none;
      /* for Chrome, Safari, and Opera */
  }